/*.estilo{
    border: 2px solid red;
    height: 500px;
    background-color: rgb(243, 194, 194);

}*/
.carousel-caption {
    position: absolute;
    bottom: 2;
    left: 0;
    /* Alinhe a legenda à esquerda do slide */
    width: 100%;
    background-color: rgba(0, 0, 0, 0.367);
    color: white;
    padding: 10px;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: hidden;
    overflow-x: hidden;
    height: 100vh;
    background-color: black;

}

.carousel-item img {
    width: 100vw;
    /* A imagem ocupa 100% da largura da janela */
    height: 100vh;
    /* A imagem ocupa 100% da altura da janela */

    justify-content: center;

}

.carousel {
    margin-right: -1em;
    margin-left: -1em;
}

p{
    display: flex;
    justify-content: center;
    margin-left: 1em;
    margin-right: 1em;
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
}

h5{
    font-size: 24px;
    font-family: 'Cinzel', serif;
    font-weight: bold;
}

.imagens {
    text-align: center;
    width: 100vw;
    /* A imagem ocupa 100% da largura da janela */
    height: 100vh;

}

.botao_article {
    display: inline-block;
    padding: 0.7em 1em;
    background-color: rgba(21, 98, 198, 0.696);
    border-radius: 8px;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.botao_article:hover {
    background-color: #7683bd;
    opacity: 2;
}

/*@media screen and (min-width: 48em){/*768px maior que*//
@media screen and (min-width: 48em) {

    p{
        font-size: 14px;
        max-height: 40%;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-left: 1em;
        margin-right: 1em;
    }

    .carousel-caption {
        font-size: 14px;
        max-height: 40%;
        display: flex;
        align-items: flex-end;
        
    }
}